*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.start {
    max-width: 50%;
   
    font-size: larger;
    display: grid;
    grid-template-columns: auto;
}

.btn-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    
}

.hide {
    display: none;
}

.start-btn{
    background-color: lightgreen;
    color: black;
    font-size: larger;
    border-radius: 20px; 
    width: 20%;
    text-shadow: black;
    
}

.btn{
    background-color: lightgreen;
    color: black;
    font-size: larger;
    border-radius: 20px; 
    width: 60%;
    text-align: left;
    text-shadow: black;
}

.btn2{
    background-color: lightgreen;
    color: black;
    font-size: larger;
    border-radius: 20px; 
}

.btn3{
    background-color: lightgreen;
    color: black;
    font-size: larger;
    border-radius: 20px;
}

.sub-btn{
    background-color: lightgreen;
    color: black;
    font-size: larger;
    border-radius: 20px;
}

.question-text{
    font-size: x-large;
}

.endGame{
    font-size: large;

}

.alert{
    font-style: oblique;
    color: blueviolet;
}

#int{
    border-radius: 20px;
}