*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: flex;    
}

.high-scores{
    justify-content: start;
}
.timer {
justify-content: right;
}

.question-card {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}